/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----------------- RESET OVER -------------- */

.day-ind {
  background-color: rgba(182, 182, 182, 0.8);
  width: auto;
  height: 100px;
  border-radius: 15px;
}

.days-tain {
  padding: 1% 0%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
}

.days-tain p {
  padding: 5%;
}

.day-head-ind {
  height: 25px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.day-head {
  padding-top: 1%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day-ind h2 {
  color: rgba(168, 98, 98, 0.8);
  font-size: 1.25rem;
  font-weight: 600;
  padding-left: 5%;
  padding-top: 5%;
}

.title {
  padding-left: 2%;
  padding-top: 3%;
  font-size: 1.5rem;
}

.btns {
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns p {
  padding: 1%;
  font-size: 1.5rem;
}

.btns button {
  background-color: rgba(236, 101, 101, 0.8);
  margin: 5px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  border-radius: 15px;
  width: 7%;
  height: 35px;
  cursor: pointer;
}

.footer p {
  padding-left: 2%;
}

body {
  font-family: "Inter", sans-serif;
}

select {
  font-family: "Inter", sans-serif;
}
